<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895734210430-1t1fpc5n5vrmc1e35c39bnk43kfg9e1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895734210430-1t1fpc5n5vrmc1e35c39bnk43kfg9e1h</string>
	<key>API_KEY</key>
	<string>AIzaSyDuidplbQLoKWenzNkC1LBGBRF3o05PqW8</string>
	<key>GCM_SENDER_ID</key>
	<string>895734210430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.ritom.youtube</string>
	<key>PROJECT_ID</key>
	<string>yt-recreation</string>
	<key>STORAGE_BUCKET</key>
	<string>yt-recreation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895734210430:ios:f0798dcb7e7398c4899d2f</string>
</dict>
</plist>